.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid var(--color-border);
}

.left {
  display: flex;
  align-items: center;
  min-width: 0;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.rightContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
