.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-xl);
  border-bottom: 1px solid var(--color-border);
}

.title {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.rightContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
